* {
    box-sizing: border-box;
}
@font-face {
    font-family: Starjout;
    src: url("../fonts/StarJedi/Starjout.ttf") format("truetype");
}
body{
    width: 100%;
    height: 100%;
    color: #f7c500;
    background-image: url("../img/background.jpeg");
    overflow: hidden;
    display: flex;
    font-family: Prosto one;
    transform-style: preserve-3d;
    font-weight: bolder;
}
h1 {
    text-align: center;
    font-size: 250px;
}
h2 {
    text-align: center;
    font-size: 250px;
}
p{
    font-size: 150px;
    letter-spacing: 1px;
}
.container   {
    display: flex;
    justify-content: center;
    height: 1000px;
    color: #feda4a;
    font-weight: 600;
    perspective: 100px;
    text-align: justify;
    transform-style: preserve-3d;
}

.crawl {
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 30s linear;
    width: 100%;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes crawl {
    0%{
        transform: scale3d(1, 1, 2);
        top: 0;
        transform: rotateX(25deg)  translateZ(0);
    }
    80%{
        opacity: 1;
    }

    100%{
        top: -6000px;
        transform: rotateX(25deg) translateZ(-2500px);
        opacity: 0;

    }
}
